body {
    background-color: #000000;
    font-family: 'Arial', sans-serif;
}

.stApp {
    max-width: 1000px;
    margin: auto;
}

.big-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.response-box {
    border-radius: 8px;
    padding: 10px;
    background-color: #000000;
    border: 1px solid #000000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.process-table {
    border-radius: 8px;
    overflow: hidden;
}

.spinner {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: #007bff;
}
